bw.mc-mysterio/Schemas/OrderSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/OrderSchema" xmlns:tns="http://www.example.org/OrderSchema" elementFormDefault="qualified">

    <complexType name="orderType">
    	<sequence>
    		<element name="orderId" type="string"></element>
    		<element name="customerId" type="string"></element>
    		<element name="orderCreateDate" type="dateTime"></element>
    	</sequence>
    </complexType>

    <element name="order" type="tns:orderType"></element>
</schema>